@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@400;500;600;700&display=swap');

@layer base {

    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select {
        @apply border-none rounded-md text-gray-800 shadow-sm px-2 py-1 focus:border-none focus:ring-0;
    }

    [type="checkbox"],
    [type="radio"] {
        @apply border-gray-300 rounded text-indigo-600 focus:ring-indigo-500;
    }
}

@page {
    size: auto;
    /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 10mm 10mm 10mm 25mm;
}

@media print {
    .pagebreak {
        page-break-before: always;
    }

    /* page-break-after works, as well */
}

* {
    @apply scrollbar-thin scrollbar-thumb-slate-500 scrollbar-track-transparent;
}

body {
    @apply font-body font-medium text-gray-800;
}
